/* ? RESET */

*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ! ROOT VARIABLE */
:root{
    --color-primary-dark:#4865C8;
    --color-primary-light:#5e81f4;
    --color-secondary-dark:#8da1bf;
    --color-secondary-light:#f5f5fb;
    --color-body:#343a40;
    --color-white:#fff;
    --color-heading:#000;
}

body{
    color:var(--color-body);
    font-family: "inter",sans-serif;
    font-size: 1.5rem;

}
h1,h2{
    color:var(--color-heading);
    font-weight: 700;

}
html{
    font-size: 62.5%;
}
h1{
    font-size: 2.5rem;
}
h2{
    font-size: 2.2rem;
}
.block{
    padding: 3rem 2rem;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
@media screen  and (min-width:1024px) {
    body{
        font-size:1.8rem ;
    }
    h1{
        font-size:3.8rem ;
    }
    h2{
        font-size:3.2rem ;
    }
    .block{
        padding: 6rem 2rem;
    }
    
}
/* BUTTON */
.btn{
    cursor: pointer;
    padding: 1.5rem 3rem;
    outline: 0;
    border: 0;
    border-radius: 12px;
   text-align: center;
   font-size: 1.5rem;
   font-weight: 400;
}
.btn-primary{
    background-color: var(--color-primary-light);
    color:var(--color-white)
}
.btn-block{
    padding: 1.5rem 4rem; 
    margin-bottom: 5rem;
    margin-left: 1rem;
}

@media screen and(min-width:1024px) {
    .btn{
        font-size: 1.8rem;
    }
    
}

/* LOGO */
.logo{
    width:130px;
    height: 50px;
    /* background-color: #c7cadd; */
    margin-bottom: 3.5rem;
    margin-left: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo .btn{
 text-transform: uppercase;
 font-size: 2.5rem;
 font-family: "inter";
 padding: 0.8rem 1.2rem;
}
.logo p{
    color:var(--color-primary-light);
    font-size: 2.3rem;
    font-weight: 700;
    display: none;
}
@media screen and (min-width:1024px) {

    .logo p{
        display: block;
    }
}
/* ICONS */
.icon{
    width: 35px;
    height: 35px;
    fill: var(--color-secondary-dark);
    cursor: pointer;
    
}
.icon:hover{
fill: var(--color-primary-light);
}

/* MENU */
.menu{
    width: 200px;
    height: 360px;
    /* background-color:#f8f8f8f8; */
}
.menu__list{
    /* position: fixed; */
    top: 0;
    left: 0;
    width:75px;
    height:360px;
    /* background-color: var(--color-white); */
    
}

.menu__item{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem 0;
    margin-left: 1rem;
    text-decoration: none;

}

.menu__item::after{
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    content: attr(data-tooltip);
    white-space: nowrap;
    color: var(--color-secondary-dark);
    opacity: 0;
    visibility: hidden;
    
}
.menu__item:hover::after{
    color: var(--color-body);
    opacity: 1;
    visibility: visible;
}
@media screen and (min-width:1024px) {
    .menu__item::after{
        opacity: 1;
        visibility: visible;
    }
    
}
/* UPGRADE */
.upgrade{
    width: 190px;
    height:230px ;
    background-color: var(--color-secondary-light);
    /* margin: 5rem; */
    border-radius: 15px;
    box-shadow: 2px 10px 8px #e8edf5 ;
    position: relative;
    margin-top: 3rem;
    margin-left: 1.5rem;
}
 .intro__icon{
    width: 100px;
    height: 100px;
    fill: var(--color-primary-dark);
    position: absolute;
    top: -10%;
    left: 22%;
    margin-bottom: 2rem;
 }
 .intro__detail{
     padding: 6rem 3.5rem;
 }
 
 
.intro__detail p{
    color:var(--color-secondary-dark); 
    margin: 3rem 0;
    text-align: center;
}
.left{
    width:273px;
    height: 1024px;
    
}


   






