/* ? RESET */

*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ! ROOT VARIABLE */
:root{
    --color-primary-dark:#4865C8;
    --color-primary-light:#5e81f4;
    --color-secondary-dark:#c7cadd;
    --color-secondary-light:##ccd6e8;
    --color-body:#343a40;
    --color-white:#fff;
    --color-heading:#000;
}

body{
    color:var(--color-body);
    font-family: "inter",sans-serif;
    font-size: 1.5rem;

}
h1,h2{
    color:var(--color-heading);
    font-weight: 700;

}
html{
    font-size: 62.5%;
}
h1{
    font-size: 2.5rem;
}
h2{
    font-size: 2.2rem;
}
@media screen  and (min-width:1024px) {
    body{
        font-size:1.8rem ;
    }
    h1{
        font-size:3.8rem ;
    }
    h2{
        font-size:3.2rem ;
    }
    
}
/* BUTTON */
.btn{
    cursor: pointer;
    padding: 1.5rem 3rem;
    outline: 0;
    border: 0;
    border-radius: 12px;
   text-align: center;
   letter-spacing: 0.1rem;
   font-size: 1.5rem;
   font-weight: 400;
}
.btn-primary{
    background-color: var(--color-primary-light);
    color:var(--color-white)
}

@media screen and(min-width:1024px) {
    .btn{
        font-size: 1.7rem;
    }
    
}

/* LOGO */
.logo{
    width:130px;
    height: 50px;
    /* background-color: #c7cadd; */
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo .btn{
 text-transform: uppercase;
 font-size: 2.5rem;
 font-family: "inter";
 padding: 0.8rem 1.2rem;
}
.logo p{
    color:var(--color-primary-light);
    font-size: 2.3rem;
    font-weight: 700;
    display: none;
}
@media screen and (min-width:1024px) {

    .logo p{
        display: block;
    }
}





