/* ? RESET */

*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

/* ! ROOT VARIABLE */
:root{
    --color-primary-dark:#4865C8;
    --color-primary-light:#5e81f4;
    --color-secondary-dark:#8da1bf;
    --color-secondary-light:#f5f5fb;
    --color-body:#343a40;
    --color-white:#fff;
    --color-heading:#000;
}

body{
    color:var(--color-body);
    font-family: "inter",sans-serif;
    font-size: 2rem;

}
h1,h2{
    color:var(--color-heading);
    font-weight: 700;

}
html{
    font-size: 62.5%;
}
h1{
    font-size: 2.5rem;
}
h2{
    font-size: 2.2rem;
}
.block{
    padding: 5rem 3rem;
}
/* .container{
    max-width: 1140px;
    margin: 0 auto;
} */
@media screen  and (min-width:1024px) {
    body{
        font-size:1.8rem ;
    }
    h1{
        font-size:3rem ;
    }
    h2{
        font-size:2.5rem ;
    }
    .block{
        padding: 6rem 1.5rem;
    }
    
}
/* LEFT SIDE */
.left{
    width: 100%;
    height: 100%; 
    display: flex;
    flex-direction: column;
    gap: 8rem;
}
/* BUTTON */
.btn{
    cursor: pointer;
    padding: 1rem 4rem;
    outline: 0;
    border: 0;
    border-radius: 12px;
   text-align: center;
   font-size: 1.8rem;
   font-weight: 400;
   white-space: nowrap;
   overflow: hidden;
}
.btn-primary{
    background-color: var(--color-primary-light);
    color:var(--color-white)
}

@media screen and (min-width:768px) {
    .btn{
        font-size: 1.8rem;
        padding: 1.5rem 2rem;
    }  
}
@media screen and (max-width:1024px) {
    .left{
        margin: 0 auto;
    }
}

/* LOGO */
.logo{
    /* width:130px;
    height: 50px; */
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 2rem;
  
}
.logo .btn{
 text-transform: uppercase;
 font-size: 2.5rem;
 font-family: "inter";
 padding: 0.8rem 1.2rem;
}
.logo p{
    color:var(--color-primary-light);
    font-size: 2.3rem;
    font-weight: 700;
    /* display: none; */
}
@media screen and (min-width:768px) {

    .logo p{
        display: block;
    }
}
/* ICONS */
.icon{
    width: 30px;
    height: 30px;
    fill: var(--color-secondary-dark);
    cursor: pointer;  
}
.icon:hover{
fill: var(--color-primary-light);
}

/* MENU */
.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
}

 .menu .menu__item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;
    padding: 1rem;
    text-align: center;
    border-radius: 10px;
    font-size: 1.8rem;
    background-color:var(--color-secondary-light);
    
}
.menu__item a{
    text-decoration: none;
    display: inline-block;
    color: var(--color-secondary-dark);
}
.menu__item a:hover{
    color: var(--color-body);
}
@media screen and (min-width:768px) {
    .menu{
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 3rem;
    }  
}
/* UPGRADE */
.upgrade{
    
    background-color: var(--color-secondary-light);
    border-radius: 15px;
    box-shadow: 2px 10px 8px #e8edf5 ;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:2rem 4.5rem ;
   
}

 .intro__icon{
    width: 100px;
    height: 100px;
    fill: var(--color-primary-dark);
    position: absolute;
    top: -20%;
    right: auto;
    left: auto;
 }
 .intro__detail{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem; 
 }
.intro__detail p{

    color:var(--color-secondary-dark);
    font-size: 1.6rem;
    /* padding: 2rem 2rem; */
    text-align: center;
    margin-top: 5rem;
}
.intro__detail .btn{
   margin-top: 4rem;
}
 
/* !MAIN */
/* SEARCHBOX */
.main{
    /* width: 100%; */
    height: 100%;
    background-color:var(--color-secondary-light);
    padding: 4rem 3rem ;   
} 

.search{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4rem;
}

.search__box{
    margin: 3rem 0;
    display: flex;
    align-items: center;
    border-radius: 20px;
    position: relative;
   background-color: #fff;
}


.search__box input[type=search]{
    all: unset;
    font-size: 1.5rem;
    height: 100%;
    width: 100%;
    border: 1px solid var(--color-secondary-light);
    border-radius: 20px;
    padding: 1rem 4rem;
}

::placeholder{
    color: #d8d9db;
    font-size:1.4rem;
    padding: 0 1.5rem;
}
.search__box button{
    all: unset;
    opacity: 0.5;
    position: absolute;
    left: 5%;
}
.search__box button:hover{
    opacity: 1;
}
.bell{
    width: 35px;
    height: 35px;
   
}
@media screen and (max-width:768px) {
    .main{
        padding: 2rem 2rem;
    }
    .search{
        display: flex;
       gap: 1.5rem;
    }
    
}
/* NAVBAR */

.nav{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
} 

.nav__lists{
    width: 100%;
    display: flex;
    flex-direction: column; 
     /* !NAV EXPANDED */
     max-height: 0;
     overflow: hidden;
     opacity: 0;
     transition: all 0.4s ease-in-out;
} 

    
 .nav__items >a{
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--color-secondary-dark);
    border-bottom: 1px solid #ccc;
    margin-bottom: 1.5rem;
    display: block;
    padding: 1rem;
    text-align: right;
}
.nav__toggler{
    font-size: 2.5rem;
    color: var(--color-body);
}
.nav.nav__expanded .nav__lists{
    max-height: 100vh;
    opacity: 1;
}
.nav.nav__expanded .nav__toggler{
    transform: rotate(-90deg);  
} 

.nav__items >a:hover{
    color: var(--color-primary-dark);
    
}
.nav__items >a:hover{
    border-bottom: 2px solid var(--color-primary-dark);
    
}
@media screen and (min-width:1024px) {
   
   .nav__items >a{
       font-size: 1.6rem;
       margin-right: 1rem;
       margin-bottom: 0;
   }
    
    .nav__lists{
        display: flex;
        flex-direction: row;
        width: auto;
         max-height: 100%;
        opacity: 1;   
    }
    .nav__toggler{
        display: none;
    } 
    
} 

/* MAIN PHOTO GRID */

.course{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 3rem;
    margin-top: 4rem;
    grid-template-areas: 
    "ux ux"
    "photo animation";
    /* overflow-x: auto; */
}
.course__design{
  grid-area: ux;
   
}
.course__design >img{
    border-radius: 10px;
    width: 100%;
    
}
.course__photo{
    grid-area: photo;
}
.course__photo >img{
    border-radius: 10px; 
    width: 100%;
    height: 100%;
} 
.course__animation{
   grid-area: animation;
     
}
.course__animation >img{
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

@media screen and (max-width:768px) {
   .course{
       display: flex;
       flex-direction: column;
   }
   .course__design > img{
       width: 100%;
       height: 55vh; 
       border-radius: 12px;
  }

   .course__photo > img{
   width: 100%;
   height: 100%;
   border-radius: 12px;
} 
   .course__animation > img{
    width: 100%;
    height: 100%;
    border-radius: 12px;
}
} 
/* !RIGHT */

/* FORM */
.right{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 8rem;
}
.progress{
    margin-top: 4rem ;
}
.progress__form input[type=range] {
 -webkit-appearance: none;
 border-radius: 40px;
 width: 60%;
 height:1rem;
 cursor: pointer;
 background-color:#eef2fd ;
  }
  .progress__form input[type=range]::-webkit-slider-thumb {
      display: none;
  }

.progress__form input[type=range]::-webkit-slider-runnable-track {
      max-width: 70%;
      height: 1rem;
      background: var(--color-primary-light);
      border-radius: 40px;
  }
  .progress__form.photo input[type=range] {
    background-color:#D5F5FB ;
}
.progress__form.photo input[type=range]::-webkit-slider-runnable-track {
    max-width: 40%;
    background: #0CC3E7;
}
.progress__form.animation input[type=range] {
    background-color:#FFEFD6;
}
.progress__form.animation input[type=range]::-webkit-slider-runnable-track {
    max-width: 50%;
    background: #FFAE33;
}

  /* PROGRESS */
  
  .list-box{
      width: 40px;
      height: 40px;
      border-radius:8px;
      box-shadow: 0px 4px 4px 0px #00000040;
  }
  .list-icon{
      width: 25px;
      height: 25px;
  }
  .list-box .list-icon{
      margin: 0.7rem;
  }
  .ui-box{
    background-color:#eef2fd ; 
  }
  .ui-box .list-icon{
     fill: #5e81f4; 
  }
  .photo-box{
    background-color:#D5F5FB ;
  }
  .photo-box .list-icon{
    fill: #0CC3E7;  
  }
  .animation-box{
    background-color:#FFEFD6;
    margin-left: 1rem;
  }
  .animation-box .list-icon{
   fill: #FFAE33; 
  }
  .progress__title{
      font-size: 1.5rem;
      font-weight: 700;
      text-shadow: 0px 4px 4px #CCCCCC;
      line-height: 1.8;
      cursor: pointer;
  }
  .progress__level{
    font-size: 1.3rem;
    opacity: 0.5;
    text-shadow: 0px 4px 4px #CCCCCC;
  }
  .progress__list{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 2rem;
      padding: 2.5rem 0;
  }
  
   @media screen and (max-width:1024px) {
    .right{
        margin: 0 auto;
        opacity: 0;
    }

}



     /* UPCOMING TASKS */
     .task{
        margin-top: 4rem ;
    }
    .task__list{
       display: flex;
       justify-content: flex-start;
       align-items: center;
       gap: 2.5rem;
       padding: 2.5rem 0;
    }
    .task__item{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 0.8rem;
    }
    .task__title{
        font-size: 1.5rem;
        font-weight: 700;
        cursor: pointer;
    }
    .task__time{
        font-size: 1.3rem;
        opacity: 0.5;
    }
    /* PROFILE */
    .profile{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 3rem;
    }
    .profile select{
        border-style: none;
        font-size: 1.5rem;
        font-weight: 700;
        color: #343a40;
        cursor: pointer;

    }
    .download-img > img{
        width: 100%;
        height: 100%;  
    }

    /* ! ALL OF CODE */
    .page{
        display: grid;
        grid-template-columns: 17% 60% 23%;
    }

    @media screen and (max-width:1024px) {
        .page{
            display: grid;
            grid-template-columns: 3fr 7fr;
        }
    }

    @media screen and (max-width:768px) {
        .page{
            display: flex;
            flex-direction: column;
        }
    }

    
    

  

  
 
 



















   

 





