<article class="letf block container">
    <div class="logo">
        <button class=" btn btn-primary">o</button>
        <p>Ohara</p>
    </div>
    <button class="btn btn-primary btn-block "> join a course</button>
    <section class="menu">
        <div class="menu__list">
            <a href="#" class="menu__item  active " data-tooltip="Dashboard">
                <svg class="icon">
                    <use xlink:href="/assets/images/svg-sprite.svg#view-dashboard-variant"></use>
                </svg>
                
            </a>
    
            <a href="#" class="menu__item" data-tooltip="All course">
                <svg class="icon">
                    <use xlink:href="/assets/images/svg-sprite.svg#grid"></use>
                </svg>
            </a>
            <a href="#" class="menu__item " data-tooltip="Resources">
                <svg class="icon">
                    <use xlink:href="/assets/images/svg-sprite.svg#source"></use>
                </svg>
            </a>
            <a href="#" class="menu__item" data-tooltip="Friends">
                <svg class="icon">
                    <use xlink:href="/assets/images/svg-sprite.svg#user-friends-solid"></use>
                </svg>
            </a>
            <a href="#" class="menu__item " data-tooltip="Chats">
                <svg class="icon">
                    <use xlink:href="/assets/images/svg-sprite.svg#chat-left"></use>
                </svg>
            </a>
            <a href="#" class="menu__item " data-tooltip="Setting">
                <svg class="icon">
                    <use xlink:href="/assets/images/svg-sprite.svg#cog"></use>
                </svg>
            </a>
        </div>

    </section>
    <section class="upgrade">
        <svg class="intro__icon">
            <use xlink:href="/assets/images/svg-sprite.svg#folder-open"></use>
        </svg>
        <div class="intro__detail">
            <p>upgrade&nbspto&nbsp for more&nbspresources</p>
            <button class="btn btn-primary "> upgrade</button>
    
        </div>
    
    </section>
    
</article>
