<section class="menu">
    <div class="menu__item">
        <svg class="icon">
            <use xlink:href="/assets/images/svg-sprite.svg#view-dashboard-variant"></use>
        </svg>
        <a href="#"> Dashboard</a>
    </div>
    
    <div class="menu__item">
        <svg class="icon">
            <use xlink:href="/assets/images/svg-sprite.svg#grid"></use>
        </svg>
        <a href="#">All&nbsp;course</a>
    </div>

   <div class="menu__item">
    <svg class="icon">
        <use xlink:href="/assets/images/svg-sprite.svg#source"></use>
    </svg>
    <a href="#">Resources</a>
   </div>
   
   <div class="menu__item">
       
    <svg class="icon">
        <use xlink:href="/assets/images/svg-sprite.svg#user-friends-solid"></use>
    </svg>
    <a href="#">Friends</a>

   </div>
    <div class="menu__item">
        <svg class="icon">
            <use xlink:href="/assets/images/svg-sprite.svg#chat-left"></use>
        </svg>
        <a href="#">Chats</a>
    </div>

    <div class="menu__item">
        <svg class="icon">
            <use xlink:href="/assets/images/svg-sprite.svg#cog"></use>
        </svg>
        <a href="#">Setting</a>
    </div>

</section>
