<aside  class="block">
    <h5>progress</h5>
      <ul class="progress">
        <li class="progress__list">
           <div class="list-box ui-box">
             <svg class="list-icon">
                <use xlink:href="/assets/images/svg-sprite.svg#pencil-2"></use>
            </svg>
           </div>
           <div class="progress__items">
               <p class="progress__title">UI/UX&nbspDesign</p>
               <p class="progress__level">Advanced</p>
           </div>
           <form action="" class="progress__form ">
               <input type="range" min="0" max="100" value="50" >
           </form>
        </li>

        <li class="progress__list">
               <div class="list-box photo-box">
                   <svg class="list-icon">
                    <use xlink:href="/assets/images/svg-sprite.svg#camera-alt"></use>
                </svg>
               </div>
               <div class="progress__items">
                   <p class="progress__title">Photography</p>
                   <p class="progress__level">Intermediate</p>
               </div>
               <form action="" class="progress__form photo">
                   <input type="range" min="0" max="100" value="50" >
               </form>
        </li>

        <li class="progress__list">
               <div class="list-box animation-box">
                     <svg class="list-icon">
                        <use xlink:href="/assets/images/svg-sprite.svg#sine-wave"></use>
                    </svg>
               </div>
               <div class="progress__items">
                    <p class="progress__title">Animation</p>
                    <p class="progress__level">Advance</p>
                </div>
               <form action="" class="progress__form animation">
                    <input type="range" min="0" max="100" value="50" >
               </form>
        </li>     
      </ul>
  </aside>
