<aside  class="block">
    <h5>progress</h5>
      <ul class="progress">
        <li class="progress__list">
           <div class="progress__box ui-box">
             <i class="fa-solid fa-pencil"></i> 
           </div>
           <div class="progress__items">
               <p class="progress__title">UI/UX&nbspDesign</p>
               <p class="progress__level">Advanced</p>
           </div>
           <form action="" class="progress__form ">
               <input type="range" min="0" max="100" value="50" >
           </form>
        </li>

        <li class="progress__list">
               <div class="progress__box photo-box">
                   <i class="fa-solid fa-camera"></i>
               </div>
               <div class="progress__items">
                   <p class="progress__title">Photography</p>
                   <p class="progress__level">Intermediate</p>
               </div>
               <form action="" class="progress__form photo">
                   <input type="range" min="0" max="100" value="50" >
               </form>
        </li>

        <li class="progress__list">
               <div class="progress__box animation-box">
                     <i class="fa-solid fa-wave-sine"></i>    
               </div>
               <div class="progress__items">
                    <p class="progress__title">Animation</p>
                    <p class="progress__level">Advance</p>
                </div>
               <form action="" class="progress__form animation">
                    <input type="range" min="0" max="100" value="50" >
               </form>
        </li>     
      </ul>
  </aside>