<aside class="block">
    <h5>Upcoming Task</h5>
    <ul class="task">
        <li class="task__list">
            <div class="list-box ui-box">
                <svg class="list-icon">
                    <use xlink:href="/assets/images/svg-sprite.svg#chat-left"></use>
                </svg>
              </div>
              <div class="task__item">
                  <p class="task__title">UI/UX-Discussion</p>
                  <p class="task__time"> 27 oct 2020,Tuesday </p>
              </div>
        </li>
        <li class="task__list">
            <div class="list-box animation-box">
                <svg class="list-icon">
                    <use xlink:href="/assets/images/svg-sprite.svg#cube"></use>
                </svg> 
              </div>
              <div class="task__item">
                  <p class="task__title">Animation-3D&nbsp;Animation</p>
                  <p class="task__time"> 27 oct 2020,Tuesday </p>
              </div>
        </li>
    </ul>
</aside>